.vscode
target
out
Cargo.lock
.DS_Store
.tmp
*.tgz
uniffi/targets
uniffi/wrappers
libanoncreds.xcframework.zip
.swiftpm

.gradle
.idea
.DS_STORE
anoncred-wrapper-rust/build/generated
**/build/*
uniffi-kmm/Cargo.lock
uniffi-kmm/target
local.properties
anoncred-kmm/anoncred-wrapper-rust/src/*
**/.DS_Store
