name: 'Anoncreds'

env:
  CROSS_VERSION: '0.2.4'

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      publish-binaries:
        description: 'Publish Binaries to Release (will create a release if no release exits for branch or tag)'
        required: true
        default: false
        type: boolean
      publish-wrappers:
        description: 'Publish Wrappers to Registries'
        required: true
        default: false
        type: boolean

jobs:
  lint:
    name: Lint

    runs-on: buildjet-2vcpu-ubuntu-2204

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2

      - name: Cargo check
        run: cargo check

      - name: Cargo fmt
        run: cargo fmt --all -- --check

  test:
    name: Test

    strategy:
      matrix:
        os: [windows-latest, buildjet-2vcpu-ubuntu-2204]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2

      - name: Test Linux and macOS
        if: "runner.os != 'Windows'"
        run: cargo test --package anoncreds --features vendored

      - name: Test Windows
        if: "runner.os == 'Windows'"
        env:
          OPENSSL_STATIC: 1
        run: cargo test --package anoncreds --features vendored

  build-release:
    name: Build Library

    strategy:
      matrix:
        include:
          - os: buildjet-2vcpu-ubuntu-2204
            arch: linux-x86_64
            target: x86_64-unknown-linux-gnu
            lib: libanoncreds.so
          - os: macos-latest
            arch: darwin-x86_64
            lib: libanoncreds.dylib
            target: x86_64-apple-darwin
          - os: macos-latest
            arch: darwin-aarch64
            target: aarch64-apple-darwin
            lib: libanoncreds.dylib
          - os: windows-latest
            arch: windows-x86_64
            target: x86_64-pc-windows-msvc
            lib: anoncreds.dll

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2

      - name: Build library for Windows
        if: "runner.os == 'Windows'"
        env:
          OPENSSL_STATIC: 1
        run: cargo build --release --package anoncreds --target ${{matrix.target}} --features vendored

      - name: Build library for macOS and Linux
        if: "runner.os != 'Windows'"
        run: cargo build --release --package anoncreds --target ${{matrix.target}} --features vendored

      - name: Upload library artifacts
        uses: actions/upload-artifact@v3
        with:
          name: library-${{ matrix.arch }}
          path: target/${{ matrix.target }}/release/${{ matrix.lib }}

      - name: Create library artifacts directory
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        run: |
          mkdir release-artifacts
          cp target/${{ matrix.target }}/release/${{ matrix.lib }} release-artifacts/

      - name: Release artifacts
        uses: a7ul/tar-action@v1.1.2
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        with:
          command: c
          cwd: release-artifacts
          files: .
          outPath: 'library-${{ matrix.arch }}.tar.gz'

      - name: Add library artifacts to release
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-binaries == 'true')
        uses: svenstaro/upload-release-action@v2
        with:
          file: library-${{ matrix.arch }}.tar.gz
          asset_name: 'library-${{ matrix.arch }}.tar.gz'

  build-javascript:
    name: Build and Test JavaScript wrapper
    needs: [build-release]
    runs-on: buildjet-2vcpu-ubuntu-2204
    defaults:
      run:
        working-directory: wrappers/javascript

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.JS 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Fetch library artifacts
        uses: actions/download-artifact@v3
        with:
          name: library-linux-x86_64

      - name: Install dependencies
        run: yarn install

      - name: Build JavaScript Wrapper
        run: yarn build

      - name: Lint JavaScript Wrapper
        run: yarn lint

      - name: Format Check JavaScript Wrapper
        run: yarn check-format

      - name: Type Check JavaScript Wrapper
        run: yarn check-types

      - name: Test JavaScript Wrapper
        env:
          # binary is downloaded to root of repository
          LIB_ANONCREDS_PATH: ../../
        run: yarn test

      - name: Set NPM config
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-wrappers == 'true')
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc
          echo "registry=https://registry.npmjs.org/" >> .npmrc
          echo "always-auth=true" >> .npmrc

      - name: Publish JavaScript Wrapper
        if: |
          github.event_name == 'release' ||
          (github.event_name == 'workflow_dispatch' && github.event.inputs.publish-wrappers == 'true')
        run: npx lerna publish from-package --no-push --no-private --yes --no-git-tag-version

  build-py:
    name: Build Python
    needs: [build-release]

    strategy:
      matrix:
        include:
          - runner: buildjet-2vcpu-ubuntu-2204
            os: ubuntu-x86_64
            library: library-linux-x86_64
            plat-name: manylinux2014_x86_64
          - runner: windows-latest
            os: windows-x86_64
            library: library-windows-x86_64
            plat-name: win_amd64
          - runner: macos-latest
            os: macos-x86_64
            library: library-darwin-x86_64
            plat-name: macosx_10_9_universal2 # macosx_10_9_x86_64

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine auditwheel
      - name: Fetch library artifacts
        uses: actions/download-artifact@v3
        with:
          name: ${{matrix.library}}
          path: wrappers/python/anoncreds/

      - name: Build python package
        run: |
          python setup.py bdist_wheel --python-tag=py3 --plat-name=${{ matrix.plat-name }}
        working-directory: wrappers/python

      - name: Test python package
        shell: sh
        run: |
          cd wrappers/python
          pip install --upgrade pip
          pip install dist/*
          python -m demo.test
      - if: "runner.os == 'Linux'"
        name: Auditwheel
        run: auditwheel show wrappers/python/dist/*

      - name: Upload python package
        uses: actions/upload-artifact@v3
        with:
          name: python-${{ runner.os }}
          path: wrappers/python/dist/*

      - if: |
          (github.event_name == 'release' ||
            (github.event_name == 'workflow_dispatch' &&
              github.event.inputs.publish == 'true'))
        name: Publish python package
      - name: Publish python package
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: |
          twine upload --repository testpypi --skip-existing wrappers/python/dist/*

  build-android-libraries:
    name: Build Android Libraries
    runs-on: buildjet-2vcpu-ubuntu-2204
    strategy:
      matrix:
        target:
          [
            aarch64-linux-android,
            armv7-linux-androideabi,
            i686-linux-android,
            x86_64-linux-android,
          ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Cache cargo resources
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: |
          cargo install --bins --git https://github.com/rust-embedded/cross --tag v${{ env.CROSS_VERSION }} cross
          cross build --release --target ${{ matrix.target }} --features=vendored

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}
          path: target/${{ matrix.target }}/release/libanoncreds.so

  create-android-library:
    name: Create android libraries
    runs-on: buildjet-2vcpu-ubuntu-2204
    needs: build-android-libraries
    if: |
      (github.event_name == 'release' ||
      (github.event_name == 'workflow_dispatch' &&
       github.event.inputs.publish == 'true'))
    steps:
      - name: Fetch libraries
        uses: actions/download-artifact@v3
      - run: |
          sudo mkdir ./libs
          sudo mv aarch64-linux-android   ./libs/arm64-v8a
          sudo mv armv7-linux-androideabi ./libs/armeabi-v7a
          sudo mv i686-linux-android      ./libs/x86
          sudo mv x86_64-linux-android    ./libs/x86_64
      - name: Save Android library
        uses: actions/upload-artifact@v3
        with:
          name: android-libraries
          path: ./libs

      - name: Delete artifacts
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            aarch64-linux-android
            armv7-linux-androideabi
            i686-linux-android
            x86_64-linux-android
          failOnError: false

  build-ios-libraries:
    name: Build ios Libraries
    runs-on: macos-latest
    strategy:
      matrix:
        architecture:
          [aarch64-apple-ios, aarch64-apple-ios-sim, x86_64-apple-ios]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{matrix.architecture}}

      - name: Build
        run: cargo  build --release --target ${{matrix.architecture}} --features=vendored

      - name: Save artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.architecture}}
          path: target/${{matrix.architecture}}/release/libanoncreds.dylib

  create-ios-xcframework:
    name: Create ios xcframework
    runs-on: macos-latest
    needs: build-ios-libraries
    if: |
      (github.event_name == 'release' ||
      (github.event_name == 'workflow_dispatch' &&
       github.event.inputs.publish == 'true'))
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fetch dynamic libraries
        uses: actions/download-artifact@v3
      - run: >
          ./build-xcframework.sh aarch64-apple-ios \
                                 aarch64-apple-ios-sim \
                                 x86_64-apple-ios \
                                 include

      - name: Save xcframework
        uses: actions/upload-artifact@v3
        with:
          name: anoncreds.xcframework
          path: out

      - name: Delete artifacts
        uses: geekyeggo/delete-artifact@v1
        with:
          name: |
            aarch64-apple-ios
            aarch64-apple-ios-sim
            x86_64-apple-ios
          failOnError: false

  create-ios-android-release-asset:
    name: Create iOS and Android Release Assets
    runs-on: buildjet-2vcpu-ubuntu-2204
    needs:
      - create-ios-xcframework
      - create-android-library
    if: |
      (github.event_name == 'release' ||
      (github.event_name == 'workflow_dispatch' &&
       github.event.inputs.publish == 'true'))

    steps:
      - name: Fetch Android libraries
        uses: actions/download-artifact@v3
        with:
          name: android-libraries
          path: mobile/android/

      - name: Fetch iOS Framework
        uses: actions/download-artifact@v3
        with:
          name: anoncreds.xcframework
          path: mobile/ios/

      - name: Create archive
        uses: a7ul/tar-action@v1.1.2
        with:
          command: c
          files: ./mobile
          outPath: 'library-ios-android.tar.gz'

      - name: Add library artifacts to release
        uses: svenstaro/upload-release-action@v2
        with:
          file: library-ios-android.tar.gz
          asset_name: 'library-ios-android.tar.gz'
